.App {
  font-family: sans-serif;
  text-align: center;
}
/*
svg {
  background-size: 100%;
  background: url('https://cdn4.creativecirclemedia.com/rome/original/20180916-103950-32b8c282-3c4a-488a-acab-3438bc3cdbd4-pv_web.jpg') center center;

}*/
